<div class="menus flex">
  <div class="image-container flex flex-center">
    <img src="assets/images/spotify-logo-inicio.png" alt="" />
  </div>

  <div class="menu-container flex options">
    <app-botaoMenu
      [descricao]="'Início'"
      [selecionado]="menuSelecionado === 'Início'"
      (click)="botaoClick('Início')"
      routerLink="/player/home"
    >
      <fa-icon [icon]="homeIcon" size="lg"></fa-icon>
    </app-botaoMenu>

    <app-botaoMenu
      [descricao]="'Buscar'"
      [selecionado]="menuSelecionado === 'Buscar'"
      (click)="botaoClick('Buscar')"
    >
      <fa-icon [icon]="searchIcon" size="lg"></fa-icon>
    </app-botaoMenu>
    <app-botaoMenu
      [descricao]="'Artistas'"
      [selecionado]="menuSelecionado === 'Artistas'"
      (click)="botaoClick('Artistas')"
    >
      <fa-icon [icon]="artistIcon" size="lg"></fa-icon>
    </app-botaoMenu>
  </div>

  <div class="menu-container flex">
    <span class="playlist-title"> Playlists </span>

    <div class="playlist-scroll">
      <app-botaoMenu
        *ngFor="let playlist of arrayPlaylist"
        [descricao]="playlist.name"
        [selecionado]="menuSelecionado == playlist.id"
        (click)="botaoClick(playlist.id)"
      >
        <fa-icon [icon]="playlistIcon"></fa-icon>
      </app-botaoMenu>
    </div>
  </div>
</div>
<div class="usuario-info">
  <app-footerUser></app-footerUser>
</div>
